.container {
  height: 800px;
  position: relative;
}
#title {
    opacity: 0;
    z-index: 1;
    position: absolute;
    font-size: 4rem;
    top: 50%;
    left: 3rem;
    transform: traslate3d(0, -50%, 0);
}
#slides {
  z-index: 0;
  position: relative;
  margin-left: auto;
  width: 60vw;
  height: 800px;
}
